h1, h3, h4{
  text-align: center;
}
h1{
  margin-bottom: 70px;
}

#turn1, #turn2{
  border-left: 20px solid red;
}

#turn2{
  display:none;
}

#point, #result1, #result2, #dice{
  background-color:#f3f3f3;
  text-align: center;
  border:1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

#button{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

button#button{
  margin-left: 25px;
  margin-right: 25px;
}
